<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6b6398">  <td>19/05/28 18:16:10</td>   <td>0</td> <td title="&gt;&gt;Extenttest_Report.setUp()[pri:0, instance:sdkTestcaseScripts.DrawerLayoutScreenTestCase@79be0360]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="7ec378">  <td>19/05/28 18:16:10</td>   <td>155</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup()[pri:0, instance:sdkTestcaseScripts.DrawerLayoutScreenTestCase@79be0360]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>19/05/28 18:16:15</td>   <td>4750</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DrawerLayoutScreenTestCase.isChatSent()[pri:3, instance:sdkTestcaseScripts.DrawerLayoutScreenTestCase@79be0360]">isChatSent</td> 
  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="6b6398">  <td>19/05/28 18:20:02</td>   <td>231381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Extenttest_Report.getResult(org.testng.ITestResult)[pri:0, instance:sdkTestcaseScripts.DrawerLayoutScreenTestCase@79be0360]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="7ec378">  <td>19/05/28 18:20:02</td>   <td>231382</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.teardown()[pri:0, instance:sdkTestcaseScripts.DrawerLayoutScreenTestCase@79be0360]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="6b6398">  <td>19/05/28 18:20:04</td>   <td>234368</td> <td title="&lt;&lt;Extenttest_Report.tearDown()[pri:0, instance:sdkTestcaseScripts.DrawerLayoutScreenTestCase@79be0360]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
</table>
